# dependencies
node_modules/

# Next.js build output
.next/
out/

# database
prisma/dev.db
prisma/dev.db-journal

# environment variables
.env
.env.local
.env.production

# misc
.DS_Store
*.pem

commands.txt
CLAUDE.md
skills/